@{
    ViewData["Title"] = "Home Page";
}

    <section class="content-header">
    </section>
<!-- Main content -->
<section class="content container-fluid">
 
          
       <div><h1>INDEX</h1></div>
    
      
</section>